.menu {
  width: 75%;
  padding: 1rem;
  margin-top: 2rem;
  z-index: 2;
  animation: menu-appear 500ms ease-out forwards;
}

.messages p {
  font-size: small;
  font-weight: bold;
  text-align: center;
}

@keyframes menu-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
